.subtotal {
  background-color: rgb(234, 237, 237);
  padding: 20px;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  border-radius: 10px;
  justify-content: space-between;
}

.subtotal-gift {
  display: flex;
  align-items: center;
}

.subtotal-gift > input {
  margin-right: 5px;
}

.checkout-button {
  background: #f0c14b;
  border: 1px solid;
  border-radius: 3px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 150px;
}
